*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.slide{
    height: 500px;
    background-size: cover;
    position: absolute;
    width: 100%;
    transform: translateX(100%);
}


.active{
    transform: translateX(0%);
}

.one{
    background: url(../images/1.jpg) no-repeat center;
}


.two{
    background: url(../images/2.jpg) no-repeat center;
}

.three{
    background: url(../images/5.jpg) no-repeat center;
}

.overlay{
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0,0.6);
}

.prev{
    height: 30px;
    width: 30px;
    background: white;
    color: black;
    position: absolute;
    top: 250PX;
    left: 100px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;

}

.next{
    height: 30px;
    width: 30px;
    background: white;
    color: black;
    position: absolute;
    top: 250PX;
    right: 100px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;

}

.smooth{
    transition: 1s ease;
}

